/* global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}

.container{
    
    margin-right: auto;
    margin-left: auto;

    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width:400px){
    .container{
        width:380px;
    }
}
@media (min-width:600px){
    .container{
        width:577px;
    }
}
@media (min-width:990px){
    .container{
        width:970px;
    }
}
@media (min-width:1200px){
    .container{
        width:1170px;
    }
}
/* start header */

.navbar{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:rgb(255, 255, 255);
}
.brand{
    text-transform: capitalize;
    font-size: 25px;
    text-decoration: none;
    color:white;

}
.brand:hover{
    color:rgb(45, 174, 179);
}
.brand span{
    font-size: 30px;
    color: rgb(17, 25, 143);
}
.navbar-links ul{
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    display: flex;
    opacity: .9;
    width: 100%;

}
.navbar-links li{
    list-style: none;
  width: 100%
}
.navbar-links li a{
    display:block;
    padding: 15px;
    text-decoration: none;
    text-transform:capitalize;
    color: white;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.navbar-links ul li a:hover{
    padding-left: 25px;
    color:rgb(17, 25, 143);
    border-bottom: 2px solid rgb(17, 25, 143) ;
}

.navbar-links li a:hover{
    color:rgb(17, 25, 143);
}
.toggle-button{
    position: absolute;
    top:.75rem;
    right:1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

@media (max-width:600px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        flex-direction: column;
        /* background-color: gray; */
    
    }
    .navbar-links li{
        text-align:center;
    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
    .landing{

        display: block;
    }
}
/* start landing */
section{
    background-image: url(BOARD.jpg);
    background-size:cover ;
    height:140vh;
    
}

.landing .intro{
    position: absolute;
    left:30%;
    top:30%;
    transform: translate(-30%, -30%);
    -webkit-transform: translate(-50%, -48%);
    -moz-transform: translate(-50%, -48%);
    -ms-transform: translate(-50%, -48%);
    -o-transform: translate(-50%, -48%);
    color: rgb(255, 255, 255);
    margin-top: 30px;
}


p{
    font-weight: 800;
    font-size: 40px;
}
@media(max-width:600px){

    .landing .intro{
        position: absolute;
        left:50%;
        top:60%;
        transform: translate(-50%, -60%);
        -webkit-transform: translate(-50%, -48%);
        -moz-transform: translate(-50%, -48%);
        -ms-transform: translate(-50%, -48%);
        -o-transform: translate(-50%, -48%);
        color: rgb(255, 255, 255);
        margin-top: 30px;

    }    
}